p {
    font-size: 16px;
  }

  .text-blue {
    color: #2f6ff1;
  }

  .text-muted-custom {
    color: #8292a2;
  }

  .gamePokerViewMore {
    padding: 10px 21px 8px;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
    border-radius: 2rem;
    vertical-align: middle;
  }

  .howToplayEndBtn {
    background: #dde4f7;
    padding: 10px 25px 8px;
    ;
    border: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 2rem;
    vertical-align: middle;
  }